body,
html {
  margin: 0;
}
.App {
  text-align: center;
  background: linear-gradient(to right, #3c40c6 0%, #575fcf 100%);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
h1 {
  margin: 0;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #d2dae2;
  height: 92px;
  text-align: center;
}
header ul {
  margin: 0;
}
header ul li {
  list-style: none;
  display: inline-block;
  margin: 0 1rem;
  line-height: 92px;
}
header ul li a {
  color: #485460;
  text-decoration: none;
  position: relative;
}
header ul li a:hover {
  color: #05c46b;
}
header ul li a:after {
  content: '';
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  height: 5px;
  background: #05c46b;
  transition: 0.3s all;
}
header ul li a:hover:after {
  bottom: 40px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
